.preview-action-image {
    margin-top: 35;
}

.login-page {
    /*background-image: url("~/assets/images/main-photo.jpg");
    background-size: cover;*/
    background-color: #d4d5d7;
    padding: 0 25;
}

.input-lucid {
    margin-bottom: 10;
}

/*
[visibility] {
    display: none;
}
*/
