<Page (loaded)="pageLoaded()">
    <app-header [title]="title"></app-header>
    <GridLayout row="*">
        <StackLayout>
            <StackLayout>
                <Button text="Actualizar" (tap)="updateAssistances()"></Button>
            </StackLayout>
            <StackLayout>
                <SearchBar row="0"
                           id="main-search-bar"
                           hint="Buscar"
                           (clear)="clearSearchBar($event)"
                           (loaded)="loadSearchBar($event)"
                           (textChanged)="onTextChanged($event)"
                           (submit)="onSubmit($event)"></SearchBar>
                <ListView row="1" [items]="list">
                    <ng-template let-item="item">
                        <GridLayout class="list-group" rows="auto" columns="*, 100, 90">
                            <!--<Image class="list-item-image" row="0" col="0"
                                   src="https://pbs.twimg.com/profile_images/839721704163155970/LI_TRk1z_400x400.jpg"
                                   stretch="aspectFit" width="85"></Image>-->
                            <StackLayout class="list-group-item" row="0" col="0" orientation="vertical">
                                <Label text="{{ (item.date) ? item.date.split(' ')[0] : '' }}"></Label>
                                <Label class="list-group-item-heading" [text]="item.address"></Label>
                                <Label [text]="item.addressreference"></Label>
                            </StackLayout>
                            <StackLayout class="list-group-item" row="0" col="1">
                                <Label text="{{ (item.date) ? item.date.split(' ')[1] : '' }}"></Label>
                                <Label class="list-group-item-heading" [text]="item.customer.plate"></Label>
                                <Label [text]="item.state"></Label>
                            </StackLayout>
                            <!--<StackLayout class="list-group-item-btn-icon btn-lightgreen" row="0" col="2">
                                <Label text="&#xea10;" class="btn-icon"></Label>
                            </StackLayout>-->
                            <StackLayout class="list-group-item-btn btn-lightgreen" (tap)="getAssist(item)" row="0" col="2">
                                <Label text="Elegir"></Label>
                                <Label text="&#xea10;" class="btn-icon"></Label>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </ListView>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</Page>