<ActionBar title="Ingrese sus datos personales"></ActionBar>
<StackLayout class="normal-wrapper">
    <TextField hint="Ingrese su correo"
               keyboardType="email"
               autocorrect="false"
               autocapitalizationType="none"
               [(ngModel)]="user.email">
    </TextField>
    <TextField hint="Ingrese sus Nombres"
               keyboardType="email"
               autocorrect="false"
               autocapitalizationType="none"
               [(ngModel)]="user.email">
    </TextField>
    <TextField hint="Ingrese sus Apellidos"
               keyboardType="email"
               autocorrect="false"
               autocapitalizationType="none"
               [(ngModel)]="user.email">
    </TextField>
    <TextField hint="Ingrese su documento de identidad"
               keyboardType="email"
               autocorrect="false"
               autocapitalizationType="none"
               [(ngModel)]="user.email">
    </TextField>
    <TextField hint="Ingrese su contraseña"
               secure="true"
               [(ngModel)]="user.password">
    </TextField>
    <TextField hint="Repita su contraseña"
               secure="true"
               [(ngModel)]="user.password">
    </TextField>
    <Button class="btn-aqua" text="Registrase" (tap)="register()"></Button>
</StackLayout>
