.preview-action-image {
    margin-top: 110;
}

.login-container {
    background-image: url("~/assets/images/main-photo.jpg");
    background-size: cover;
}

.login-page {
    /*background-color: #d4d5d7;*/
    padding: 0 25;
}

Label {
    text-align: center;
}

.options-zone {
    font-weight: bold;
    color: black;
    text-align: center;
}

.input-lucid {
    margin-bottom: 10;
}

/*
[visibility] {
    display: none;
}
*/
